<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>PokeJS - Pokedex</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../assets/img/favicon.ico" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
    .modal-body {
      max-height: calc(100vh - 210px);
      overflow-y: auto;
    }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <script src="../assets/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">PokeJS</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="poke.html">Pokedex</a></li>
          <li><a href="gameversions.html">Game Versions</a></li>
        </ul>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
  <div class="jumbotron">
    <div class="container">
      <div class="row col-md-4">
        <!--<form class="navbar-form navbar-right">-->
          <div class="form-group">
              <input type="text" class="form-control" id="input-id" value="" placeholder="Enter Pokemon Name">
          </div>
          <button id="getdetails" class="btn btn-primary">Search</button>
        <!--</form>-->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" id="pokedex-table"></div>
    <div class="row" id="pokestats-table"></div>
  </div>
  <div class="container">
    <hr>
    <footer>
      <p>&copy; Vaikan 2015</p>
    </footer>
  </div>
  <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <script src="../controller/poke.js"></script>
  <script src="../model/storage.js"></script>
  <script src="../helpers/handlebarhelpers.js"></script>
  <script>
    $(function() {
      getPokemon();
      var getDetailsButton = document.getElementById('getdetails');
      getDetailsButton.onclick = function() {
        $('#pokedex-table').empty();
        $('#pokestats-table').empty();
        var name = document.getElementById("input-id").value;
        getPokeDetails(name.toLowerCase());
      };
    });
  </script>
  <script type="x-handlebars-template" id="poke-template">
    <div class="col-md-4">
      <h2>{{FirstStringUpperCase name}}: {{id}}</h2>
      <p>Images placeholder</p>
      <p><a class="btn btn-default btn-sm stats" role="button" data-pokeid="{{id}}">View Stats &raquo;</a>
    </div>
    <div class="col-md-8">
      <div class="row">
        <center><label>General Information</label></center><hr>
        <div class="col-md-4">
          <p><label>Color:&nbsp;</label>{{FirstStringUpperCase color.name}}</p>
          <p><label>Shape:&nbsp;</label>{{FirstStringUpperCase shape.name}}</p>
          <p><label>Habitat:&nbsp;</label>{{FirstStringUpperCase habitat.name}}</p>
        </div>
        <div class="col-md-4">
          <p><label>Generation:&nbsp;</label>{{FirstStringUpperCase generation.name}}</p>
          <p><label>Egg Group:&nbsp;</label>{{#egg_groups}}{{FirstStringUpperCase name}}<br/>{{/egg_groups}}</p>
          <p><label>Evolved From:&nbsp;</label>{{FirstStringUpperCase evolves_from_species.name}}</p>
        </div>
      </div>
    </div>
  </script>

  <script type="x-handlebars-template" id="pokestats-template">
    <div class="col-md-4">
      <h2>PokeStats</h2>
      {{#stats}}
      <p><label>{{FirstStringUpperCase stat.name}}:&nbsp;</label>{{base_stat}}</p>
      {{/stats}}
    </div>
  </script>
</body>

</html>
