{{#versions.results}}
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{FirstStringUpperCaseTitle name}}</h3>
    </div>
    <div class="panel-body">
      <p>Some Description to be added later</p>
    </div>
    <p><a class="btn btn-info details" role="button" data-url="{{url}}" data-name="{{name}}">View details &raquo;</a>
    </p>
  </div>
</div>
{{/versions.results}}